<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="assets/images/logo.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo_sm.png" alt="" height="16">
        </span>
    </a>

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo_sm_dark.png" alt="" height="16">
        </span>
    </a>

    <div class="h-100" id="left-side-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav">
            <li class="side-nav-item">
                <a href="#!apps-calendar.html" class="side-nav-link">
                    <i class="uil-calender"></i>
                    <span> Calendar </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="#!profile.html" class="side-nav-link">
                    <i class="uil-calender"></i>
                    <span> Profile </span>
                </a>
            </li>


            <li class="side-nav-item">
                <a href="#!attandance" class="side-nav-link">
                    <i class="uil-calender"></i>
                    <span> Attandance </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="#!result" class="side-nav-link">
                    <i class="uil-calender"></i>
                    <span> Result </span>
                </a>
            </li>


            <li class="side-nav-item">
                <a href="#!notice" class="side-nav-link">
                    <i class="uil-calender"></i>
                    <span> Notice </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="#!rollno" class="side-nav-link">
                    <i class="uil-calender"></i>
                    <span> Rollno </span>
                </a>
            </li>


            <li class="side-nav-item">
                <a href="#!fee" class="side-nav-link">
                    <i class="uil-calender"></i>
                    <span> fee </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="#!acadmic" class="side-nav-link">
                    <i class="uil-calender"></i>
                    <span> Acadmic </span>
                </a>
            </li>





        </ul>

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->